@model List<Data.Entities.Advert>


<a asp-action="createAdvert"  type="button" class="btn btn-primary t">Add new advert</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th> 
      <th scope="col">name</th>
      <th scope="col">category</th>
      <th scope="col">city</th>
      <th scope="col">discription</th>
      <th scope="col">contact information</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
      @foreach( var a in Model)
      {
      <tr>
      <th scope="row">@a.Id</th>
      <td>@a.Name </td>
      <td>@a.CategoryId</td>
      <td>@a.City</td>
      <td>@a.Description</td>
      <td>@a.ContactInformation</td>
      <td>
          <div class="btn-group" role="group">
             <a asp-action="ditailsadvert"  asp-route-id="@a.Id" class="btn btn-success">detail</a> 
             <a asp-action="editadvert"  asp-route-id="@a.Id" class="btn btn-warning">edit</a> 
             <a asp-action="deleteadvert"  asp-route-id="@a.Id" class="btn btn-danger ">delete</a>             
            </div>
      </td>
    </tr>
      }       
  </tbody>
</table>


